<%- include ("../partials/header") %>

<div class="show-product-page">
    <h2 id="product-name" class="show-product-page-h2"><%= belt.name %></h2>
    <div class="show-product-page-image-container">
        <img class="show-product-page-image" id="show-product-page-image" src="/Images/gallery/belts/<%= belt.image %>"
            alt="">
        <div id="engraving-img-preview" class="engraving-preview"></div>
        <div id="engraving-text-preview" class="engraving-preview"></div>
    </div>
    <p id="product-description-widescreen"><%= belt.description %></p>

    <ul>
        <li class="instock"><i class="far fa-check-circle"></i>&nbsp;В наявності</li>
        <li id="product-price" class="show-product-page-price"><%= belt.price %> &#8372;</li>
        <li class="show-product-page-wishlist"><i class="fas fa-heart fa-lg"></i>&nbsp;До обраного</li>
        <li><button class="buy-button" id="add-to-cart-wide" onclick="add_to_cart()" href=""><i
                    class="fas fa-shopping-cart"></i>&nbsp;Купити</button></li>
    </ul>
    <p id="product-description"><%= belt.description %></p>
    <% if(currentUser){ %>
    <div class="edit_or_delete">
        <button class="edit-post"><a href="<%= belt._id%>/edit">EDIT</a></button>
        <form action="/belts/<%= belt._id %>?_method=DELETE" method="POST">
            <button class="delete-post">DELETE</button>
        </form>
    </div>
    <% } %>


    <button class="buy-button" id="add-to-cart" onclick="add_to_cart()" href=""><i
            class="fas fa-shopping-cart"></i>&nbsp;Купити</button>
    <div id="show-cart" class="show-cart-class">
        <div class="show-cart-main">
            <p class="added-to-cart">Обраний товар</p>
            <div class="added-product">
                <div>
                    <img class="added-product-image" src="/Images/gallery/belts/<%= belt.image %>" alt="">
                    <h4><%= belt.name %></h4>
                    <p><%= belt.description %></p>
                    <p id="belt_price"><%= belt.price %> грн</p>
                </div>
                <div></div>
            </div>
            <button class="buy-button-edit" onclick="add_to_cart()">Продовжити покупки</button>
            <a href="/cart">
                <button class="buy-button-confirmation">Оформити замовлення</button>
            </a>
        </div>
    </div>
    <div id="show-cart-2" class="show-cart-class">
        <div class="show-cart-main">
            <p class="added-to-cart">Обраний товар</p>
            <div class="added-product">
                <div>
                    <img class="added-product-image" src="/Images/gallery/belts/<%= belt.image %>" alt="">
                    <h4><%= belt.name %></h4>
                    <p><%= belt.description %></p>
                    <p id="belt_price"><%= belt.price %> грн</p>

                </div>
                <div></div>
                <div>
                    <button class="buy-button-edit" onclick="close_cart()">Продовжити покупки</button>
                </div>
                <a href="/cart">
                    <button class="buy-button-confirmation">Оформити замовлення</button>
                </a>
            </div>
        </div>
    </div>
</div>
</div>

<%- include ("../partials/footer") %>